<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Selftaught!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Kendo")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SELFTAUGHT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul id="menu" class="nav navbar-nav">
                    <li>@Html.ActionLink("Learn New Words", "Learn", "Words")</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            @Html.Partial("_AdminPanelPartial");
                        }
                        
                        @Html.Partial("_WordActionsPartial")
                    }
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Action("GetLanguageNames", "Languages", new { area = string.Empty })
            </div>

        </div>
    </div>

    @if (@TempData["success"] != null)
    {
        <div class="row text-center">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success">
                    @TempData["success"]
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }

    @if (@TempData["error"] != null)
    {
        <div class="row text-center">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-danger">
                    @TempData["error"]
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }

    <div class="container body-content">

        @RenderBody()

        <footer>
            <hr />
            <p class="text-center">&copy; @DateTime.Now.Year - Selftaught beta</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
</body>
</html>
