@model Selftaught.Data.Models.Word

@using (Html.BeginForm("Add", "Words", FormMethod.Post, new { @class = "form form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="row">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", value = ViewBag.Name } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartOfSpeech, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EnumDropDownListFor(model => model.PartOfSpeech, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PartOfSpeech, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageId, "LanguageId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.DropDownList("LanguageId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="attrs">
        </div>

        @{
    for (int i = 0; i < 6; i++)
    {
        <div class="form-group">
<<<<<<< HEAD
            <label for="[@i].Translation" class="control-label col-md-2">Meaning @(i + 1)</label>
=======
            <label for="[@i].Translation" class="control-label col-md-2">Translation @(i + 1)</label>
>>>>>>> 80587a54c5a2f5d966c43f2895b73cb028661095
            <div class="col-md-7">
                <input class="form-control" type="text" name="[@i].Meaning" placeholder="Translation here..." />
                @Html.ValidationMessage("[" + i + "].Meaning")
            </div>
        </div>
    }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
